body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212529;
}

h1 {
    margin-bottom: 3px;
    margin-top: 0;
    text-align: center;
    font-size: 2.2em;
}

h2 {
    margin-top: 0;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    
    line-height: 18px;
    text-transform: uppercase;
}

h4 {
    margin-top: 0;
    font-size: 1em;
    text-transform: uppercase;
}

p {
    margin-top: 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #212529;
}

blockquote {
    text-indent: -0.45em;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    padding: 1.5em;
  }

figcaption {
    color: #212529;
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: 1.1em;
  }

.text-emphasis {
    font-weight: 700;
    font-style: italic;
}

.center-text {
    text-align: center;
    font-size: 1.2em;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

header ul {
    display: flex;
    font-size: 1.2em;
    
}

header a {
    display: block;
    padding: 0;
    color: #212529;
    font-weight: 500;
}

header a:hover {
    color: #6c757d;
}

header a:active {
    color: #1dd3b0;
}

header a:focus {
    color: #6c757d;
}

.nav-container {
    background: white;
}

.nav-container a {
    color: #212529;
    margin: 0 3em;
}

.container-intro {
    width: 60%;
    margin: 0 auto;
    padding: 2em 0 1em 0;
}

section {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;    
}

.case-study-section {
    margin: 0 auto;
    padding: 3em;
}

.case-study-one-column {
    margin: 0 auto;
    width: 60%;
    
}

.case-study-section .two-column-image-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.case-study-section .two-column-image-left div{
    
    margin: 1em;
    padding: 1em;

    width: 50%;
}

.case-study-section .two-column-image-left img {
    width: 40%;
    object-fit: contain;
    

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.case-study-section .two-column-top {
    align-items: flex-start;

    background-color: darkgray;
}

.split-two {
    display: flex;
    justify-content: center;

    padding: 1.5em;
}

.split-two div {
    
    margin: 2em;
    text-align: center;
    width: 50%;
}

.case-study-section ul {
    list-style-type: disc;
    line-height: 1.9em;
    font-size: 1.2em;
}

.case-study-section p {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    letter-spacing: normal;
    line-height: 1.9em;
    text-transform: none;
    font-size: 1.2em;
}

.case-study-section h3 {
    padding-top: 0em;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6em;
}

.case-study-section h4 {
    padding-top: 2em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

.case-study-section div {
    padding: 1.5em;
}

.case-study-heading {
    background: #A2F1DE;
    font-size: 2.5em;
    padding: 1.5em;
    text-align: center;
    text-transform: none;
    font-weight: 700;
}

.case-study-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 3em;
}


.case-study-title div {
    width: 60%;
    padding-top: 3em;
    margin-left: 2em;
}

.case-study-title img {
    width: 20%;
    object-fit: contain;
}

.case-study-section img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.case-study-title h1 {
    padding-top: 0em;
    font-size: 4em;
    font-weight: 700;
}

.case-study-title p {
    padding-top: -0.2em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
}





.project-card {
    margin: 1em;
    width: 50%;
}

.project-card p {
    margin-top: -0.8em;
    font-weight: 300;
    font-size: 1em;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-about {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.container-about div {
    
    margin: 1em;
    padding: 1em;
    width: 33%;
}



.container-about img {
    width: 100%;
    object-fit: contain;
    

    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5em 5em 2em 14em;
    margin: 0 auto;
}

footer img {
    padding: 0 0 0 20px;
}

footer p {
    margin: 0;
    line-height: normal;
    color: #495057;
}

footer div {
    margin-right: 20px;
}

footer a {
    color: #495057;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.2em;
}

footer a:hover {
    text-decoration: none;
    color: #212529;
}